apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: reflector-data
  labels:
    app.kubernetes.io/name: reflector
    app.kubernetes.io/part-of: packetparamedic
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
